.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  width: 80%;
  margin: auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #aaa;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: #99ebff;
  border: 1px solid #777;
}

td {
  background-color: #ccf5ff;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 18px;
}

#message {
  font-size: 18px;
  margin: 5px 0;
  padding: 10px;
  background-color: #99ebff;
  border: 1px solid #777;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

button {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 0 10px;
}