.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: #eee;
  font-family: "Lucida Console", "Courier New", monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #aaa;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: #aaa;
  border: 1px solid #777;
}

td {
  background-color: #fff;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 18px;
}

.adding-form {
  display: block;
  border: 1px solid #000;
  margin-top: 50px;
  padding: 20px 10%;
}

.adding-form > h2 {
  font-size: 25px;
}

input{
  font-size: 12px;
  height: 20px;
  margin: 2px;
}

#message {
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}

button {
  background-color: #aaa;
  color: #000;
  border-radius: 10px;
  padding: 1px 12px;
}

@media only screen and (max-width: 600px) {
  
    body {
      font-size: 15px;
    }
    form * {
      font-size: 12px;
    }
    button {
      width: auto;
      padding: 2px;
    }
}